body {
	margin: 0;
	padding: 1% 24%;
	font: 1.1em/1.5 sans-serif;
}
a, p {
	padding: 3px;
}
form {
	margin-top: 30px;
}
input {
	font-size: inherit;
}
input[type="text"] {
	display: block;
	margin-bottom: 15px;
	padding: 10px;
	width: 250px;
	border: 2px solid steelblue;
}
input[type="submit"] {
	width: 100px;
	height: 40px;
	border: none;
	background: steelblue;
	color: white;
	font-size: inherit;
}

/* Pseudo-classes */

a:link{
	color: red;  /*only pick the anchor elements with href attribute*/
}
a:visited{
	color: green;
}
a:hover{
	/*it can be applied to any of the elements*/
	color:white;
	background-color: tomato;
	text-decoration:none;
}
a:active{
	/*when mouse is clicked when it is unclicked it returns to normal*/
	font-size: 20px;
}
input[type="text"]:focus{
	background-color: yellow;
}








